.header{
    height: 50px;
    background-color: black;
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
}
b {
    color: navajowhite;
}
span{
    font-size: 40px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}